body{
  background-image: url('/background.png');
  background-color: #222222;
}
#login{
  padding-bottom: 25px;
text-align: center;
color: #FFFFFF;
font-size: 2rem;
font-family: 'Rowdies', cursive;
}
#login_form{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  background-color: #333333;
  padding: 10px 50px 20px 50px;
  border-radius: 10px;
}

input[type = text], input[type = password]{
width: 100%;
height: 35px;
padding-left: 5px;
margin: 5px 0px 0px 0px;
display: inline-block;
align-items: center;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
color: white;
background-color: #222222;
font-size: 100%;
font-family: 'Montserrat', sans-serif;
}
input[type = submit]{
cursor:pointer;
}
input::placeholder{
color: white;
}
input:focus::placeholder{
color:transparent;
}
input[type = submit]{
align-items: center;
margin-top: 5px;
width: 100%;
height: 50%;
background-color: #FFFFFF;
border-radius: 5px;
border: 0px solid #ccc;
font-size: 100%;
color: #222222;
font-family: 'Montserrat', sans-serif;
transition: 0.2s;
}
input[type = submit]:hover{
transform: scale(1.05);
}
#nameerror, #passerror{
font-size: 10px;
color: red;
font-family: 'Montserrat', sans-serif;
padding: 0px;
margin: 0px;
}